export(aotoAllCancerAnalysis)
export(runByDEseq2AndEdgeRmain)
export(autoAnalyssisByDESeq2AndedgeR)
export(autoAnalyssisSingleCancer)
export(envirment)
export(draw_heatmap)
export(draw_pca)
export(main)
export(aotoAllCancerAnalysisList)
